---
- name: Ensure apt cache is updated
  apt:
    update_cache: yes
  become: true

- name: Install required packages
  apt:
    name: ["ca-certificates", "curl", "gnupg", "lsb-release"]
    state: present
  become: true

- name: Add Docker GPG key
  ansible.builtin.shell: |
    install -m 0755 -d /etc/apt/keyrings
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
    chmod a+r /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg
  become: true

- name: Add Docker repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/docker.list
    content: "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  become: true

- name: Update apt after adding repo
  apt:
    update_cache: yes
  become: true

- name: Install docker components
  apt:
    name: ["docker-ce", "docker-ce-cli", "containerd.io", "docker-buildx-plugin", "docker-compose-plugin"]
    state: latest
  become: true

- name: Add ansible user to docker group
  user:
    name: ansible
    groups: docker
    append: yes
  become: true

- name: Enable and start docker
  systemd:
    name: docker
    enabled: true
    state: started
  become: true
