---
- name: Install git
  apt:
    name: git
    state: present
    update_cache: yes
  become: true

- name: Ensure app directory exists
  file:
    path: /opt/personal-library
    state: directory
    mode: '0755'
  become: true

- name: Clone or update repository
  git:
    repo: "https://github.com/Pathum-Vimukthi-Kumara/DevOps-Project-_-Personal-Library-Management-System.git"
    dest: /opt/personal-library
    version: master
    force: yes
  become: true

- name: Bring up services with Docker Compose
  ansible.builtin.shell: |
    docker compose -f /opt/personal-library/compose.yaml up -d --build
  args:
    chdir: /opt/personal-library
  become: true
